body{
    color:rgb(0, 0, 0);
    background:black;
    font-family: "Chakra Petch", sans-serif;
}
h1, p, header {
    text-align: center;
}
iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header {
    border-bottom: solid 3px rgb(234, 0, 255); 
}
h1 {
    font-size: 29px;
}
section {
    background: rgb(234, 0, 255);

}
header {
    font-size: 26px;
    color: rgb(234, 0, 255);
}
img {
    height: 150px;
}
.videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.videos img {
    opacity: 0.5;
}
.videos img:hover {
    opacity: 1;
    border: 2px solid rgb(234, 0, 255)
}
h2 {
    color: rgb(234, 0, 255)
}